<div class = "text-center">
  <app-navbar></app-navbar>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Id eveniet cum libero dicta, suscipit, esse sit odit exercitationem
      facilis officia quam voluptatem dolores
      dignissimos distinctio inventore aut ratione non voluptatibus.</p>
</div>
<div class="container-fluid px-0">
<div class="row bg-dark h-100">
  <div class="col-12 px-0">
    <app-carousel [items]="carouselData"></app-carousel>
  </div>
</div>
</div>
